<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Oh la belle équipe de {{ currentTeam.title }} </h3>
                        <h5 class="card-title">Composée de {{ currentTeam.recipients.length }} membres</h5>

                        <div class="media mb-2" v-for="recipient in currentTeam.recipients" :key="recipient.id">
                            <img class="mr-3 rounded" style='height:120px' :src="recipient.avatar" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">{{ getRecipientFullName(recipient.firstName, recipient.lastName) }}</h5>
                                <span class="badge badge-info">{{ recipient.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { recipientsGroup } from '@/assets/js/recipientsGroup'

    export default {
        name: 'ShowTeam',
        data: () => ({
            localRecipientsGroup: recipientsGroup,
            currentTeam: null
        }),
        methods: {
            getRecipientFullName(firstName, lastName) {
                return `${firstName} ${lastName}`
            }
        },
        created() {
            this.currentTeam = this.localRecipientsGroup.find(element => element.id === this.$route.params.teamId)
        }
    }
</script>
