<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Nos équipes ! </h3>
                        <div class="card" v-for="team in localRecipientsGroup" :key="team.id">
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item" > L'équipe {{ team.title }} {{ team.icon }}
                                    <button class="btn btn-secondary btn-sm" role="button" @click="openTeam(team.id)">Voir</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { recipientsGroup } from '@/assets/js/recipientsGroup'

    export default {
        name: 'Team',
        data: () => ({
            localRecipientsGroup: recipientsGroup
        }),
        methods: {
            openTeam(teamId) {
                this.$router.push({ name: 'showTeam', params: { teamId: teamId } })
            }
        }
    }
</script>
